$color-primary: #FFA319;
$color-secondary: #aeb6b9;
$color-teritary: darken(#a1fe16, 20%);

$color-light: #f8fcff;
$color-dark: #000;
$color-fade: rgba(0,0,0,.8);

$color-dark-gray: #32363b;
$color-light-gray: #c6c8c9;

$color-font-base: #f8fcff;
$color-body: #000;

$background-opacity: 0.25;

$class-death-knight: #C41F3B;
$class-demon-hunter: #A330C9;
$class-druid: #FF7D0A;
$class-hunter: #ABD473;
$class-mage: #69CCF0;
$class-monk: #00FF96;
$class-paladin: #F58CBA;
$class-priest: #FFFFFF;
$class-rogue: #FFF569;
$class-shaman: #0070DE;
$class-warlock: #9482C9;
$class-warrior: #C79C6E;

.class-color--death_knight a, .class-color--death_knight {
	color: $class-death-knight!important;
}
.class-color--demon_hunter a, .class-color--demon_hunter {
	color: $class-demon-hunter!important;
}
.class-color--druid a, .class-color--druid {
	color: $class-druid!important;
}
.class-color--hunter a, .class-color--hunter {
	color: $class-hunter!important;
}
.class-color--mage a, .class-color--mage {
	color: $class-mage!important;
}
.class-color--monk a, .class-color--monk {
	color: $class-monk!important;
}
.class-color--paladin a, .class-color--paladin {
	color: $class-paladin!important;
}
.class-color--priest a, .class-color--priest {
	color: $class-priest!important;
}
.class-color--rogue a, .class-color--rogue {
	color: $class-rogue!important;
}
.class-color--shaman a, .class-color--shaman {
	color: $class-shaman!important;
}
.class-color--warlock a, .class-color--warlock {
	color: $class-warlock!important;
}
.class-color--warrior a, .class-color--warrior {
	color: $class-warrior!important;
}

.class-border--death_knight {
	box-shadow: 0 0 0 3px $class-death-knight;
}
.class-border--demon_hunter {
	box-shadow: 0 0 0 3px $class-demon-hunter;
}
.class-border--druid {
	box-shadow: 0 0 0 3px $class-druid;
}
.class-border--hunter {
	box-shadow: 0 0 0 3px $class-hunter;
}
.class-border--mage {
	box-shadow: 0 0 0 3px $class-mage;
}
.class-border--monk {
	box-shadow: 0 0 0 3px $class-monk;
}
.class-border--paladin {
	box-shadow: 0 0 0 3px $class-paladin;
}
.class-border--priest {
	box-shadow: 0 0 0 3px $class-priest;
}
.class-border--rogue {
	box-shadow: 0 0 0 3px $class-rogue;
}
.class-border--shaman {
	box-shadow: 0 0 0 3px $class-shaman;
}
.class-border--warlock {
	box-shadow: 0 0 0 3px $class-warlock;
}
.class-border--warrior {
	box-shadow: 0 0 0 3px $class-warrior;
}

.class-background--death_knight {
	background-color: $class-death-knight!important;
}
.class-background--demon_hunter {
	background-color: $class-demon-hunter!important;
}
.class-background--druid {
	background-color: $class-druid!important;
}
.class-background--hunter {
	background-color: $class-hunter!important;
}
.class-background--mage {
	background-color: $class-mage!important;
}
.class-background--monk {
	background-color: $class-monk!important;
}
.class-background--paladin {
	background-color: $class-paladin!important;
}
.class-background--priest {
	background-color:  $class-priest!important;
	color: $color-dark!important;
}
.class-background--rogue {
	background-color:  $class-rogue!important;
	color: $color-dark!important;
}
.class-background--shaman {
	background-color: $class-shaman!important;
}
.class-background--warlock {
	background-color: $class-warlock!important;
}
.class-background--warrior {
	background-color: $class-warrior!important;
}


@include media(palm) {
	.poster[data-class="death_knight"] .titlebg {
		background: $class-death-knight;
	}
	.poster[data-class="demon_hunter"] .titlebg {
		background: $class-demon-hunter;
	}
	.poster[data-class="druid"] .titlebg {
		background: $class-druid;
	}
	.poster[data-class="hunter"] .titlebg {
		background: $class-hunter;
	}
	.poster[data-class="mage"] .titlebg {
		background: $class-mage;
	}
	.poster[data-class="monk"] .titlebg {
		background: $class-monk;
	}
	.poster[data-class="paladin"] .titlebg {
		background: $class-paladin;
	}
	.poster[data-class="priest"] .titlebg {
		background: $class-priest;
		a {
			color: $color-dark;
		}

	}
	.poster[data-class="rogue"] .titlebg {
		background: $class-rogue;
		a {
			color: $color-dark;
		}
	}
	.poster[data-class="shaman"] .titlebg {
		background: $class-shaman;
	}
		.poster[data-class="warlock"] .titlebg {
		background: $class-warrior;
	}
	.poster[data-class="warrior"] .titlebg {
		background: $class-warrior;
	}
}
