input[type="submit"], input[type="button"], button {
	border-left: 0;
	border-right: 0;
	outline: none;
}
.button {

	//border: 1px solid rgba($color-light-gray, 0.7);
	border-radius: 6px;
	padding: $spacing/4 $spacing/2;
	margin: 0 $spacing/2;
	color: $color-light;
	transition: all 300ms ease;
	background: lighten($color-dark-gray, 10%);
	//box-shadow: inset 0 0 11px rgba(0,0,0,0.5);
	border-top: 1px solid rgba($color-light, 0.3);
	border-bottom: 1px solid rgba($color-dark, 0.1);

	&:hover {
		background: $color-primary;
		color: $color-light;

	}
	i {
		padding-right: $spacing/2;
	}

	&--accept {
		&:hover {
			background:$color-teritary;
		}
	}
}

.button--secondary {
	background: ligthen($color-dark-gray, 5%);

	&:hover {
		color: $color-light;
		background-color: $color-primary;
	}
}

.admin-button .button {
	background: lighten($color-dark-gray, 5%);

	&:hover {
		color: $color-light;
		background-color: $color-primary;

	}
}

.button__wrapper {
	margin: 0 -$spacing/2;
}

@mixin admin-button {
  color: $color-light;
  font-size: $font-size-medium-small;
  font-weight: 400;
  background: $color-dark-gray;
  display: block;
  min-width: 90px;
  margin-right: 4px;

	&:active,
	&:hover {
		color: $color-primary;
		background: #25292c;
	}
}

$button-border: 1px solid #000;
