@mixin align-middle {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  justify-content: center;
}

#gallery-search-form {
  position: relative;
  display: inline-block;

  span {
    position: absolute;
    top: 9px;
    left:0;
  }
  input[type="text"] {
    color: $color-light-gray;
     margin: 0;
     padding-left: 30px;
     width: 200px;
     background: none;
     border: none;
     background-color: transparent;

     &:focus {
       outline:none;
     }
  }
}

#gallery {
  padding-top: $spacing;

  .gallery-header {
    text-align: left;
    position: relative;
    @include title-style;
  }

  .gallery-menu {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 0;
    left: 0;
    padding: 0 $spacing/2;

    a {
      display: inline-block;
      margin-right: 10px;
      line-height: 2;
    }
    a:last-child {
      margin-right: 20px;
    }

    @include media('portable') {
      display: none;
    }
  }

  .gallery-footer {
    margin-top: $spacing;
  }

  .album-menu a {
    margin-left: 10px;
  }

  .gallery-admin {
    margin-bottom: $spacing;
  }
}

.gallery-status {
  background: rgba(0,0,0,$background-opacity);
  border: 1px solid $color-dark;
  padding: 20px;
}

.gallery-albums {
  border: 1px solid $color-dark;
  background: rgba(0,0,0,$background-opacity);

  margin: $spacing 0 $spacing*2 0;

  .album-container {
    padding: 20px;
    position: relative;

    a {
      font-size: 120px;
      color: $color-light;

      &:hover {
        color: $color-primary;
      }
    }

    svg, img {
      width: 80%;
      height: auto;
      max-height: 100%;
      fill: $color-light;
    }

    svg:hover {
      transition: all 500ms ease;
      fill: $color-primary;
    }

    h2, p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    h2 {
      margin-top: 5px;
    }
  }

  @include media('palm') {
    text-align: center;

    img, svg {
      max-width: 50%;
    }
  }

}

#gallery-grid {
  list-style: none;
  padding-top: 6px;

  &.grid-group {
    margin: 0;
  }

  li {
    padding: 1px;
    border: 16px solid rgba(0,0,0,0);
  }

  .middle-image {
    @include align-middle;
    background: rgba(0,0,0,0.5);
  }

  .gallery-image {
    display: block;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid $color-dark;
  }

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: transparent;
    position: relative;
  }

  .title {
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: transparent;
    position: absolute;
    padding: 10px;
    z-index: 0;
    &.top {
      top: 0;
    }
    &.bottom {
      bottom: 0;
    }
  }

  .overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;

    &:hover {
      color: $color-primary;
      background-color: rgba(0,0,0,0.8);
    }

    &:hover * {
      color: $color-primary;
      transition: all 300ms ease-in 100ms;
    }
  }

  a.view-image {
    z-index: 99;
    text-align: center;
    @include align-middle;

    span {
      font-size: $font-size-xxlarge;
    }

    &:hover span {
      color: #fff;
    }
  }

}
