.logo {
  width: 400px;
  float: left;

  @include media('lap') {
  	width: 325px;
  }

  @include media('palm') {
  	width: 200px;
  }
}

.header__menu {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 2.5em;
	line-height: 1;
	margin-top: 2.75rem;
	padding: 0;
	text-transform: uppercase;

	@include media('palm') {
	    margin-top: 1.75rem;
	}

	.extra-spacing {
		margin-bottom: $spacing;
	}	
}
