.limited-header {

	// background: #000;

	#header {
		height: 360px;
	}

	.background {
		top: -80px;
	}

	.logo {
		width: 500px;
		margin-top: 40px;
	}

	#tpfrontpanel_top {
    	margin: 0!important;
    	padding: 0!important;
	}

	.tp_container {
		overflow: visible!important;

		.tp_col16 > div {
			overflow: visible!important;
		}

		.fpsc {
			//box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 25px 1px rgba(0, 0, 0, 0.7);
		}
	}
}


.limited-header--2 {

	// background: #000;

	body {
		background: url('/inde/site-BG-dark.png');
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.header-wrap {
		margin-left: -$spacing/2;
		margin-right: -$spacing/2;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}
	.content--wrapper {
		max-width: 1720px;
    	margin: 0 auto;
	}

	#header {
		height: 360px;
	}


	.background {
		background: #000;
		height: 360px;
		overflow: hidden;
	}



	#tpfrontpanel_top {
    	margin: 0!important;
    	padding: 0!important;
	}

	.tp_container {
		overflow: visible!important;

		.tp_col16 > div {
			overflow: visible!important;
		}

		.fpsc {
			//box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 25px 1px rgba(0, 0, 0, 0.7);
		}
	}
}
