.limited-header {
	// background: #000;
	#header {
		height: 360px;
	}

	.background {
		top: -80px;
	}

	.logo {
		width: 500px;
		margin-top: 40px;
	}

	#tpfrontpanel_top {
		margin: 0!important !important;
		padding: 0!important !important;
	}

	.tp_container {
		overflow: visible!important;

		.tp_col16 > div {
			overflow: visible!important;
		}

		.fpsc {
			//box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 25px 1px rgba(0, 0, 0, 0.7);
		}
	}
}

.limited-header--2 {
	.logo {
		width: 400px;
		float: left;
		margin-top: 30px;
		@include media('lap') {
			width: 325px;
		}
		@include media('palm') {
			width: 200px;
		}
	}
	// background: #000;
	img {
		max-width: 100%;
		height: auto;
	}

	.header-wrap {
		margin-left: -$spacing/2;
		margin-right: -$spacing/2;
		height: 300px;
		background: url("/themes/indecisive-bfa/images/custom/bfa-header.jpg");
		background-size: cover;
		background-position: 50%;
		border-bottom: 2px solid $color-alliance-blue;
	}

	.content--wrapper {
		max-width: 1720px;
		margin: 0 auto;
	}

	.content--background {
		background-color: $color-background;
		// background-image: url("/themes/indecisive-bfa/images/custom/bfa-content-bg-blue.png");
		// background-position: 50% 0;
		// background-repeat: no-repeat;
		// background-size: contain;
	}

	.background {
		background: #000;
		height: 360px;
		overflow: hidden;
	}

	#tpfrontpanel_top {
		margin: 0!important !important;
		padding: 0!important !important;
	}

	.tp_container {
		overflow: visible!important;

		.tp_col16 > div {
			overflow: visible!important;
		}

		.fpsc {
			//box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 25px 1px rgba(0, 0, 0, 0.7);
		}
	}
}
