.ranking {

	text-shadow: 0 2px 1px rgba($color-dark, 0.8);

	&__header {
		color: $color-light;
		text-align: center;
		width: 100%;
	}

	&__position {
		color: $color-primary;
		font-size: $spacing*2;
		text-align: center;
		width: 100%;
		margin: 0;
		height: 60px;
	}

	.divider {
		margin: $spacing $spacing/2;
		padding: 0;
	}
}