
#showposts, #search_results {
  .search-text {
    color: $color-light-gray;
    margin-left: $spacing/2;
  }

  .list_posts {
    border: none;
    padding-top: 0;
  }

  .windowbg, .windowbg2 {
    border-radius: 5.5px;
  }

  .windowbg2 {
    background-color: rgba(248,252,255,.03);
  }

  .topic_details {
    @extend .divider;
    padding-bottom: $spacing/2;
  }


  .search_results_posts, .topic {
    padding: $spacing 0;
    // margin: $spacing 0;

    h4 {
      margin: 0;
    }

    .icon-up-open::before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

}



.counter {
  margin: 0;
  font-size: $font-size-xlarge;
  color: $color-medium-gray;
  text-align: center;
}

.quick_mod {
  text-align: right;
  padding-right: $spacing;
}

#showposts {

  .core_posts {
    margin-bottom: 0;
  }
  .topic {
    overflow: hidden;
  }

  .quickbuttons {
    padding-top: $spacing;
    text-align: right;

    li {
      display: inline-block;

      a {
        @include standard-button;
      }
    }
  }
}
